<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">    <title>Jose Ramon - Node</title>
</head>
<body>
    <div class="container">
        <h1 class="mt-4">Create a new case</h1>
        <form method="POST">
            <div class="form-group">
                <label for="title">Title</label>
                <input required class="form-control" type="text" name="title" id="title" >
            </div>
            <div class="form-group">
                <label for="xlimit">Matrix X Upper Limit: </label>
                <input required class="form-control" type="number" name="xlimit" id="xlimit" min="0" max="50" >
            </div>
            <div class="form-group">
                <label for="ylimit">Matrix Y Upper Limit: </label>
                <input required class="form-control" type="number" name="ylimit" id="ylimit" min="0" max="50">
            </div>
            <div class="form-group">
                <label for="xrobot">Robot X start position: </label>
                <input required class="form-control" type="number" name="xrobot" id="xrobot" min="0" max="50" >
            </div>
            <div class="form-group">
                <label for="yrobot">Robot Y start position: </label>
                <input required class="form-control" type="numer" name="yrobot" id="yrobot" min="0" max="50">
            </div>
            <div class="form-group">
                <label for="orobot">Robot initial orientation. You can introduce W (West), N (North),  E (East) and S (South)</label>
                <input required class="form-control" type="text" name="orobot" id="orobot" pattern="[NSWE]" >
            </div>
            <div class="form-group">
                <label for="robotpath">Commands from The Earth. You can introduce F (forward), L (left) and R (right)</label>
                <input required class="form-control" type="text" name="robotpath" id="robotpath" maxlength="100" pattern="[FLR]*">
            </div>
            <a href="/" class="btn btn-secondary mt-4 mb-4">Back to menu</a>
            <button type="submit" class="btn btn-primary mt-4 mb-4"> Process and create</button>    
        </form>   
    </div>    
</body>
</html>